.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/@types/**
!node_modules/**
create-package.js
webpack.config.js
